.card-custom{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
}

.card img {
    height: 30vh ;
    width: 100%;
    object-fit: contain;
    padding-top: 30px;
}

.card-text {
    margin-left: 0% !important;
    font-weight: 600;
}

.card a {
    text-decoration: none !important;
}

  .active {
    background: none !important;
  }

  .button-card {
    padding-top: 50px;
  }
