
.nav-ant {
    background-color: #FFFFFF;;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    border: 3px solid #e5e5e5;
}
.nav-ant .brand-cat {
    width: 150px;
}

.nav-ant .ant-container {
    padding: 0 8rem;
    justify-content: flex-start !important;
}
.nav-ant .ant-brand {
    width: 15%;
}
.ant-sidenav {
    width: 5%;
    background-color: #0D28A6;
    position: fixed;
    z-index: 9;
    bottom: 0;
    top: 0;
    padding: 20px;
}
.ant-sidenav .ant-little-brand {
    width: 100%;
    height: 56px;
    object-fit: cover;
}
.ant-sidenav .ant-list-clip {
    padding: 0;
    margin: 0;
    margin-top: 1.5rem;
}
.ant-sidenav .ant-list-clip li {
    list-style: none;
    margin-bottom: 25px;
}
.ant-sidenav .ant-list-clip li a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 8px;
}
.ant-sidenav .ant-list-clip li a i {
    font-size: 18px;
}
.ant-siderside {
    background-color: #FFFFFF;;
    width: 15%;
    margin-left: 5%;
    height: 100vh;
    padding-top: 2rem;
}
.ant-siderside .ant-list-clip {
    padding: 0;
    margin: 0;
}
.ant-siderside .ant-list-clip li {
    list-style: none;
    margin-bottom: 10px;
}
.ant-siderside .ant-list-clip li a {
    text-decoration: none;
    color: black;
    background-color: #FFFFFF;
    display: block;
    padding: 10px;
}
.ant-content {
    background-color: #F4F5F7;
    padding: 4rem 2rem;
    min-height: 100vh;
}

.ant-content-hide {
    background-color: #F4F5F7;
	padding: 4rem 0rem 0rem 0rem;
    min-height: 100vh;
	padding-left: 8rem !important;
}
.ant-main-head {
    width: 50%;
}
.ant-collapse:focus {
    box-shadow: none;
}


.side-menu-item {
    cursor: pointer;
  }
  
  .side-menu-item.active {
    background-color: #CFD4ED;
    color: black;
  }
.dropdown-admin {
    padding-left: 28px;
}